// colors
$accentColor = #d5001a
$textColor = #243147
$borderColor = #d8dee8
$codeBgColor = #f5f6f9
$arrowBgColor = #ccc

// layout
$navbarHeight = 4.6rem
$sidebarWidth = 14rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
