body
  font-family: "PingFang SC","SF Pro SC","SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif

.navbar .site-name
  display: none

.navbar .logo
  height: auto
  margin-top: 0.5rem

.navbar .links
  font-size: 1rem

.search-box
  margin-right: 2rem

@media (max-width: 719px)
  .navbar
    height: 3.6rem
    line-height: normal
  .navbar .logo
    height: 26px
    margin-top: 0.3rem
  .search-box
    margin-right: 0
